
.button{
    padding: 10px;
    font-style: italic;
    font-size: 20px; 
    font-weight: bold;
    margin: auto;
    border-radius: 50%;  
}

.button:hover{
    background-color: lightsteelblue;
    color: red;
    transform: translateY(-5px);
    border: 2px solid lightgray;
    transition: 0.3s;
}
.history{
    background-color: lightskyblue;
}

.city{
    background-color: #fff;

}
.date{
    background-color:lightblue;

}

.wind{
    background-color: lightgray;
}

.humidity{
    background-color: lightgreen;
}

.temperature{
    background-color:orange;
}

.row{
    justify-content: space-between;
}
.card{
    font-size: 13px;
    background-color: lightyellow;
    justify-content: space-between;
    align-items: center;
    border: double;
}
